Name: Chronos
Description: Sync Audible progress to Hardcover
Version: 1.4.1
Package: dev.adrian.chronos
Architecture: iphoneos-arm
Maintainer: Adrian Castro
Author: Adrian Castro
Section: Tweaks
Depends: ellekit
Icon: https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/38/df/fa/38dffa0e-9180-af3b-0236-d62a65360c53/AppIcon-0-0-1x_U007emarketing-0-0-0-8-0-0-85-220.png/1024x1024.jpg